.song_title {
  color: rgb(126, 30, 126);
}

.show_title {
  margin-left: 90px;
}

article {
  display: block;
  margin-right: 120px;
  margin-left: 120px;
  background-color: rgb(241, 219, 223);
  padding: 20px;
  border-radius: 20px;
}

.show_buttons {
  display: flex;
  justify-content: space-around;
}

.show_buttons button {
  padding: 4px;
  border-radius: 8px;
  border: 2px solid rgb(209, 154, 154);
  background-color: rgb(231, 224, 230);
}

.show_buttons button:hover {
  padding: 6px;
  border: 3px dotted rgb(209, 154, 154);
}
