.index h4 {
  margin-left: 90px;
  color: rgb(89, 165, 224);
}

.index {
  display: grid;
  background-image: url("https://amanis.cool/static/media/logo.71226e63.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80vh;
}
.songs section {
  display: flex;
  justify-content: center;
}

table a {
  text-decoration: none;
  color: maroon;
  font-weight: bold;
}

table {
  border-spacing: 0.5rem;
  width: 80%;
}
td {
  padding: 0.5rem;
  border-radius: 6px;
}

td:nth-child(even) {
  background: hsl(288, 19%, 84%);
}
td:nth-child(odd) {
  background: hsl(259, 21%, 77%);
  width: 600px;
}

tr:hover {
  border: 2px solid rgb(218, 132, 132);
}

thead {
  color: rgb(161, 137, 137);
  text-align: left;
}

tbody td:nth-child(1):hover {
  border: 2px dotted purple;
  letter-spacing: 2px;
}

tbody td:nth-child(2):hover {
  border: 2px dotted rgb(214, 148, 82);
  letter-spacing: 2px;
}

.songs_in_playlists {
  display: grid;
  border-radius: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(223, 214, 214);
  padding: 10px;
}

.song_form {
  width: 60%;
  display: grid;
  padding: 12px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid rgb(161, 137, 137);
  background-color: rgb(219, 210, 210);
  border-radius: 25px;
  box-shadow: 20px 20px 40px -8px rgba(0, 0, 0, 0.2);
}
