.edit h3 {
  margin-left: 90px;
}
.show {
  /* display: flex; */
  background-image: url("https://miro.medium.com/max/1400/1*_aXi645v-3EKFAQSj2LYHg.gif");
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-size: cover; */
  /* height: 100vh; */
  margin-top: 0px;
}
.song_details {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 40%;
  width: 80%;
  opacity: 75%;
}

.song_dets_contain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://media.tenor.com/2hTr3jNerYkAAAAC/music-colour.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.song_title {
  color: rgb(66, 38, 167);
  letter-spacing: 1.4px;
}

.show_title {
  margin-left: 90px;
  color: white;
}

article {
  /* display: block; */
  margin-right: 160px;
  margin-left: 170px;
  background-color: rgb(241, 219, 223);
  padding: 40px;
  width: 80%;
  border-radius: 20px;
}

.show_buttons {
  display: flex;
  justify-content: space-around;
}

.show_buttons button {
  padding: 9px;
  border-radius: 8px;
  border: 2px solid rgb(209, 154, 154);
  background-color: rgb(231, 224, 230);
}

.show_buttons button:hover {
  padding: 10px;
  border: 3px dotted rgb(209, 154, 154);
}

.songs_in_playlists {
  display: grid;

  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(225, 216, 232);
  opcaity: 70%;
}

.song_form {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}
